<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <title><!-- xx tg title xx --></title>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="sr-only">Menu</span>
                </button>
                <a class="navbar-brand" href="#"><img src="../images/logos/logo.png" /></a>
            </div>
            <!-- navbar header closes -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-file">Teacher&#39;s Guide</span></a>
                    </li>
                    <li>
                        <a data-code="<!-- xx Question Card data-code xx -->" data-name="<!-- xx tg title xx -->" data-type="html"
                            data-extLink="javascript" href="javascript"><span
                                class="glyphicon glyphicon-question-sign">Question Card</span></a>
                    </li>
                    <li>
                        <a data-code="<!-- xx Book data-code xx -->" data-name="<!-- xx tg title xx -->" data-type="ebook"
                            data-extLink="javascript" href="javascript"><span
                                class="glyphicon glyphicon-book">Book</span></a>
                    </li>
                    <li>
                        <a href="../images/pdf/reproducible.pdf" target="_blank"><span
                                class="glyphicon glyphicon-open-file">Reproducible</span></a>
                    </li>
                </ul>
            </div>
            <!-- navbar-collapse closes -->
        </div>
        <!-- container fluid closes -->
    </nav>
    <hgroup class="container">
        <h1><!-- xx tg title xx --></h1>
    </hgroup>
    <main class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#panel1" class="first-tab">ELA Strategies</a>
            </li>
            <li><a data-toggle="tab" href="#panel2">First Read</a></li>
            <li><a data-toggle="tab" href="#panel3">Close Reading</a></li>
            <li><a data-toggle="tab" href="#panel4">Extend Meaning</a></li>
            <li><a data-toggle="tab" href="#panel5">Independent Learning</a></li>
            <li><a data-toggle="tab" href="#panel6">Answer Key</a></li>
            <li><a data-toggle="tab" href="#panel7">Reproducible</a></li>
        </ul>
        <div class="tab-content">
            <div id="panel1" class="tab-pane fade in active">
                <aside class="col-md-4 color-panel">
                    <figure class="SB_Figure">
                        <a data-code="<!-- xx data-code xx -->" data-name="<!-- xx data-name xx -->" data-type="ebook"
                            data-extLink="javascript" href="javascript"><img
                                src="../images/thumbs/<!-- xx img-src xx -->" alt="<!-- xx alt xx -->"
                                class="center-block" /></a>
                        <figcaption>
                            <ul class="lexi-level">
                                <li><strong>Lexile® <!-- xx Lexile xx --></strong></li>
                               
                            </ul>
                        </figcaption>
                    </figure>
                    <h3>Related Resources</h3>
                    

                    <!-- xx panel1 aside content xx -->
                    <footer class="white-box margin-top-25">
                        <p class="interactive-resources">
                            These interactive resources are available through a subscription
                            to
                            <a href="http://benchmarkuniverse.com" target="_blank"
                                class="bu-link">BenchmarkUniverse.com</a>.
                        </p>
                    </footer>
                </aside>
                <section class="col-md-8 padding-left-40">
                    <div class="ela-strategies">




                        <!-- xx panel1 section content xx -->
                        <table border="1">
                            <thead>
                                <th colspan="2">What Makes This Text Complex?</th>
                            </thead>
                            <tbody>
                                <tr>

                                    <td width="40%">
                                        <p><strong>Purpose and Levels of Meaning </strong></p>
                                        <p><span class="table-number"><!-- Purpose and Levels of Meaning Rating --></span></p>
                                    </td>
                                    <td><!-- Purpose and Levels of Meaning Content -->
                                    </td>
                                </tr>

                                <tr>
                                    <td width="40%">
                                        <p><strong>Structure </strong></p>
                                        <p><span class="table-number"><!-- Structure Rating --></span></p>
                                    </td>
                                    <td><!-- Structure Content --></td>
                                </tr>

                                <tr>
                                    <td width="40%">
                                        <p>
                                            <strong>Language Conventionality and Clarity </strong>
                                        </p>
                                        <p><span class="table-number"><!-- Language Conventionality and Clarity Rating --></span>
                                        </p>
                                    </td>
                                    <td><!-- Language Conventionality and Clarity Content --></td>
                                </tr>

                                <tr>
                                    <td width="40%">
                                        <p><strong>Knowledge Demands </strong></p>
                                        <p><span class="table-number"><!-- Knowledge Demands Rating --></span></p>
                                    </td>
                                    <td><!-- Knowledge Demands Content --></td>
                                </tr>
                            </tbody>
                        </table>
                        <footer class="table-footer">
                            <p>
                                Qualitative text complexity dimensions from the CCSS are scored
                                on the following scale:
                            </p>
                            <ul>
                                <li><span class="cite-number">1</span>&#151;Low;</li>
                                <li><span class="cite-number">2</span>&#151;Middle Low;</li>
                                <li><span class="cite-number">3</span>&#151;Middle High;</li>
                                <li><span class="cite-number">4</span>&#151;High</li>
                            </ul>
                            <p>
                                * Citations refer to pages within this teacher&#39;s guide that
                                address the specific text complexity.
                            </p>
                        </footer>
                </section>
            </div>

            <!-- panel1 closes -->
             
            <div id="panel2" class="tab-pane fade">
                <aside class="col-md-4 color-panel">
                    <!-- xx panel2 page 1 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel2 page 1 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel2 page 2 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel2 page 2 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel2 page 3 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel2 page 3 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel2 page 4 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel2 page 4 section content xx -->
                </section>


                <aside class="col-md-4 color-panel">
                    <!-- xx panel2 page 5 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel2 page 5 section content xx -->
                </section>
            </div>

            <!-- panel2 closes -->

            <div id="panel3" class="tab-pane fade">
                <aside class="col-md-4 color-panel">
                    <!-- xx panel3 page 1 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel3 page 1 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel3 page 2 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel3 page 2 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel3 page 3 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel3 page 3 section content xx -->
                </section>

                <aside class="col-md-4 color-panel">
                    <!-- xx panel3 page 4 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40 margin-bottom-50">
                    <!-- xx panel3 page 4 section content xx -->
                </section>
            </div>

            <!-- panel3 closes -->

            <div id="panel4" class="tab-pane fade">
                <aside class="col-md-4 color-panel">
                    <!-- xx panel4 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40">
                    <!-- xx panel4 section content xx -->
                </section>
            </div>

            <!-- panel4 closes -->

            <div id="panel5" class="tab-pane fade">
                <aside class="col-md-4 color-panel">
                    <!-- xx panel5 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40">
                    <!-- xx panel5 section content xx -->
                </section>
            </div>

            <!-- panel5 closes -->

            <div id="panel6" class="tab-pane fade">
                <aside class="col-md-4 color-panel">
                    <!-- xx panel6 aside content xx -->
                </aside>

                <section class="col-md-8 padding-left-40">
                    <!-- xx panel6 section content xx -->
                </section>
            </div>
            <!-- panel6 closes -->
            <div id="panel7" class="tab-pane fade">
                <iframe src="../images/pdf/reproducible.pdf" scrolling="auto" type="application/pdf" class="col-md-12"></iframe>
            </div>
            <!-- panel7 closes -->
        </div>
        <!-- tab-content closes -->
    </main>
    <!-- main container closes  -->
    <footer class="container main-footer">
        <p class="col-md-12">
            &#169;
            <a href="http://www.benchmarkeducation.com" target="_blank" class="bu-link">Benchmark Education Company</a>,
            LLC <br />PRIME<sup>&#174;</sup> Teacher&#39;s Guide
        </p>
    </footer>
    <p id="back-top">
        <a href="#top"><span>&#9650;</span></a>
    </p>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/the-organizer.js"></script>
    <script>
        $(document).ready(function () {
            $("#back-top").hide();
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $("#back-top").fadeIn();
                    } else {
                        $("#back-top").fadeOut();
                    }
                });
                $("#back-top a").click(function () {
                    $("body, html").animate(
                        {
                            scrollTop: 0,
                        },
                        800
                    );
                    return false;
                });
            });
        });
    </script>
    <script type="text/javascript">
        theOrganizer();
    </script>
</body>

</html>